$primary-green: #21D931;
$primary-black: #3C4858;
$primary-blue: #1FB6FF;
$primary-grey: #8492A6;
$primary-grey-border: #DAE0E7;
$secondary-grey: #A8B6C1;

#features_list {
	.feature {
		margin: 15px 0;
		.feature_phone {
			height: 710px;
		}
		.feature_closeup {
			height: 430px;
		}
		.feature_heading {
			font-size: 30px;
			font-weight: 500;
			color: $primary-black;
			margin-bottom: 5px;
		}
		.feature_message {
			font-size: 24px;
			font-weight: 300;
			color: $primary-grey;
		}
	}
	&.mobile {
		.feature {
			margin: 20px 0;
			.feature_phone {
				height: 550px;
				@media screen and (min-width: 320px) {
					height: 485px;
				}
				@media screen and (min-width: 350px) {
					height: 525px;
				}
				@media screen and (min-width: 400px) {
					height: 550px;
				}
			}
			.feature_closeup {
				height: 350px;
				@media screen and (min-width: 320px) {
					height: 290px;
				}
				@media screen and (min-width: 350px) {
					height: 325px;
				}
				@media screen and (min-width: 400px) {
					height: 350px;
				}
			}
			.feature_heading {
				font-size: 26px;
				@media screen and (min-width: 320px) {
					font-size: 21px;
				}
				@media screen and (min-width: 350px) {
					font-size: 24px;
				}
				@media screen and (min-width: 400px) {
					font-size: 26px;
				}
			}
			.feature_message {
				font-size: 21px;
				@media screen and (min-width: 320px) {
					font-size: 18px;
				}
				@media screen and (min-width: 350px) {
					font-size: 20px;
				}
				@media screen and (min-width: 400px) {
					font-size: 21px;
				}
			}
		}
	}
}

.action_heading {
	@media screen and (min-width: 320px) {
		font-size: 23px;
	}
	@media screen and (min-width: 350px) {
		font-size: 26px;
	}
	@media screen and (min-width: 400px) {
		font-size: 28px;
	}
}

.hero_heading {
	@media screen and (min-width: 320px) {
		font-size: 20px;
	}
	@media screen and (min-width: 350px) {
		font-size: 22px;
	}
	@media screen and (min-width: 400px) {
		font-size: 24px;
	}
	@media screen and (min-width: 550px) {
		font-size: 34px;
	}
}

#landing_footer {
	.footer_link_header {
		color: #fff;
		font-weight: 500;
		text-transform: uppercase;
		margin-bottom: 15px;
	}
	.footer_link {
		a {
			color: #8492A7!important;
			text-decoration: none!important;
		}
	}
}
